<nav class="navigation">
  <div class="navigation__container">
    <label class="navigation__menu-toggle" for="menu"><span class="cross"></span></label>
    <div class="navigation__category">Users</div>
    <ul class="navigation__link-list">
      {% for link in site.nav.Users %}
        <li class="navigation__link-list-item">
          <a class="navigation__link-list-link{% if url == link.url %} navigation__link-list-item--active{% endif %}{% if link.available != true %} navigation__link-list-item--unavailable{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category">Developers</div>
    <ul class="navigation__link-list">
      {% for link in site.nav.Developers %}
        <li class="navigation__link-list-item">
          <a class="navigation__link-list-link{% if url == link.url %} navigation__link-list-item--active{% endif %}{% if link.available != true %} navigation__link-list-item--unavailable{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
